<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Edit new listing</h3>
      <form
        action="/listings/<%= listing._id %>?_method=PUT"
        method="post"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            class="form-control"
            value="<%= listing.title %>"
            placeholder="Add a catchy title"
            required
          />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Enter Description</label>
          <textarea
            name="listing[description]"
            placeholder="Enter description"
            class="form-control"
            required
          >
<%= listing.description %></textarea
          >
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          <p class="form-label">Current Image Preview</p>
          <div class="image-preview-container">
            <img
              src="<%= originalImageUrl %>"
              alt="<%= listing.image.filename %>"
              class="img-thumbnail preview-img"
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input
            class="form-control"
            name="listing[image][url]"
            type="file"
            id="formFile"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              class="form-control"
              placeholder="1200"
              value="<%= listing.price %>"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              class="form-control"
              value="<%= listing.country %>"
              placeholder="India"
              required
            />
            <div class="invalid-feedback">Country should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            class="form-control"
            value="<%= listing.location %>"
            placeholder="Jaipur, Rajasthan"
            required
          />
          <div class="invalid-feedback">Location is required</div>
        </div>

        <button type="submit" class="btn red-btn">Add to Listings</button>
      </form>
    </div>
  </div>
</body>
