<% layout("/layouts/boilerplate") %>

  <body>
    <div class="row">
      <div class="col-8 offset-3">
        <h3><b>
            <%= listing.title %>
          </b></h3>
      </div>

      <div class="card col-6 offset-3">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image" />
        <div class="card-body">
          <p class="card-text">
            <%= listing.description %>
              <br />
              &#8377; <%= listing.price.toLocaleString("en-IN") %>
                <br />
                <%= listing.location %>
                  <br />
                  <%= listing.country %>
          </p>
        </div>
        <div class="show-btns mt-3">
          <a href="/listings/<%= listing._id %>/edit" class="btn red-btn">Edit</a><br />
          <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
            <button type="submit" class="btn btn-dark">Delete listing</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-3">
        <hr />
        <h3>Leave a Review</h3>
        <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">
          <div class="mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" name="review[rating]" min="1" max="5" class="form-control" class="form-range" />
          </div>

          <div class="mt-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea type="text" rows="5" cols="30" name="review[comment]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please add some comments for review.</div>
          </div>

          <button class="btn btn-outline-dark mt-3">Submit</button>
        </form>

        <hr />
        <div class="row mt-3">
          <p><b>All Reviews</b></p>
          <% for(const review of listing.reviews) { %>
            <div class="card col-5 ms-3 mb-3 pt-2">
              <div class="card-body">
                <h5 class="card-title">Anonymous</h5>
                <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                <p class="card-text">
                  <%= review.comment %>
                </p>

                <form class="mb-3" method="POST"
                  action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                  <button class="btn btn-sm btn-dark">Delete</button>
                </form>
              </div>
            </div>
            <% } %>
        </div>
      </div>
    </div>
  </body>